body {
  font-family: Montserrat !important;
  background-color: #1A1A1A !important;
  height: 3000px;
}

section.start {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  border-radius: none;
}
section.start .navbar {
  background-color: transparent;
  height: 90px;
}
section.start .navbar .nav-item {
  color: #fff !important;
}
section.start .navbar .nav-item:hover {
  color: #34C759 !important;
}
section.start .navbar .navbar-brand {
  color: #34C759;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
section.start .navbar .navbar-brand::after {
  content: "Healthy Switcher";
  display: inline;
  color: #34C759;
  font-size: 18px;
  vertical-align: sub;
}
section.start .container .row-text {
  margin-top: 80px;
}
section.start .container .row-text h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
}
section.start .container .row-text p {
  color: darkgray;
  font-weight: 200;
  text-align: center;
}
section.start .container .row-button .btn {
  background-color: #34C759;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 3px;
}
section.start .container .row-info {
  color: #fff;
}
section.start .container .row-info ul {
  text-align: center;
}
section.start .container .row-info ul li {
  list-style: none;
}
section.start .container .row-info ul li:nth-child(3) {
  color: darkgrey;
  font-size: 14px;
}

section.about {
  margin-top: -220px;
}
section.about .container .row-about {
  justify-content: center;
}
section.about .container .row-about .col-about {
  position: relative;
  padding: 40px 25px;
  background-color: #252525;
  border-radius: 5px;
}
section.about .container .row-about .col-about .row-heading {
  justify-content: center;
  color: #fff;
}
section.about .container .row-about .col-about .row-heading h1 {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  left: 0;
  right: 0;
  letter-spacing: 10px;
}
section.about .container .row-about .col-about .row-heading h6 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}
section.about .container .row-about .col-about .row-heading h6::after {
  content: "";
  display: block;
  width: 10%;
  border-bottom: 2px solid #34C759;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
section.about .container .row-about .col-about .row-text {
  margin-top: 60px;
  justify-content: center;
}
section.about .container .row-about .col-about .row-text .col-text p {
  color: darkgrey;
  font-size: 16px;
  text-align: center;
}
section.about .container .row-about .col-about .row-carousel {
  margin-top: 50px;
  margin-bottom: 30px;
}
section.about .container .row-about .col-about .row-carousel .col-carousel .carousel-item {
  display: flex;
  justify-content: space-evenly;
}
section.about .container .row-about .col-about .row-carousel .col-carousel .carousel-item img {
  height: 270px;
  width: 350px;
}

section.work .container .row-work {
  justify-content: center;
}
section.work .container .row-work .col-work {
  position: relative;
  padding: 40px 25px;
  background-color: transparent;
  border-radius: 5px;
}
section.work .container .row-work .col-work .row-heading {
  justify-content: center;
  color: #fff;
}
section.work .container .row-work .col-work .row-heading h1 {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  left: 0;
  right: 0;
  letter-spacing: 10px;
}
section.work .container .row-work .col-work .row-heading h6 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}
section.work .container .row-work .col-work .row-heading h6::after {
  content: "";
  display: block;
  width: 10%;
  border-bottom: 2px solid #34C759;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
section.work .container .row-work .col-work .row-card {
  margin-top: 50px;
}
section.work .container .row-work .col-work .row-card .card {
  background-color: #252525 !important;
  color: #fff;
  padding: 20px 0px;
  height: 230px;
}
section.work .container .row-work .col-work .row-card .card .card-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
section.work .container .row-work .col-work .row-card .card .card-title::after {
  content: " ";
  display: block;
  border-bottom: solid 2px #34C759;
  width: 30%;
  margin-top: 15px;
}
section.work .container .row-work .col-work .row-card .card .card-text {
  color: darkgrey;
  font-size: 14px;
}
section.work .container .row-work .col-work .row-card .card:hover {
  background-color: #34C759 !important;
  color: #1A1A1A;
  padding: 20px 0px;
  height: 230px;
  cursor: pointer;
}
section.work .container .row-work .col-work .row-card .card:hover .card-title {
  font-size: 20px;
  text-transform: capitalize;
}
section.work .container .row-work .col-work .row-card .card:hover .card-title::after {
  content: " ";
  display: block;
  border-bottom: solid 2px #1A1A1A;
  width: 30%;
  margin-top: 15px;
}
section.work .container .row-work .col-work .row-card .card:hover .card-text {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 500;
}

section.dishes .container .row-dishes {
  justify-content: center;
}
section.dishes .container .row-dishes .col-dishes {
  position: relative;
  padding: 40px 25px;
  background-color: transparent;
  border-radius: 5px;
}
section.dishes .container .row-dishes .col-dishes .row-heading {
  justify-content: center;
  color: #fff;
}
section.dishes .container .row-dishes .col-dishes .row-heading h1 {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  left: 0;
  right: 0;
  letter-spacing: 10px;
}
section.dishes .container .row-dishes .col-dishes .row-heading h6 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}
section.dishes .container .row-dishes .col-dishes .row-heading h6::after {
  content: "";
  display: block;
  width: 10%;
  border-bottom: 2px solid #34C759;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
section.dishes .container .row-dishes .col-dishes .row-card {
  margin-top: 50px;
}
section.dishes .container .row-dishes .col-dishes .row-card .card {
  position: relative;
  background-color: #252525 !important;
  color: #fff;
  padding: 0;
  height: 500px;
  margin-bottom: 30px;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .card-img {
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .card-img img:hover {
  transform: scale(1.2);
  transition: all 0.5s;
  cursor: pointer;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .card-info {
  position: absolute;
  top: 314px;
  font-weight: 200;
  font-size: 14px;
  color: darkgrey;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .card-title {
  position: absolute;
  top: 280px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 700;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .card-text {
  position: absolute;
  top: 350px;
  color: darkgrey;
  font-size: 14px;
}
section.dishes .container .row-dishes .col-dishes .row-card .card .btn-order {
  position: absolute;
  background-color: #34C759;
  top: 430px;
  width: 120px;
  height: 50px;
  right: 25px;
  border-radius: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
