
// font
$font:Montserrat;

// color
$primary-color:#34C759;
$secondary-color:#fff;
$black:#1A1A1A;
$dark-grey:#252525;
$light-grey:#737373;


body{
    font-family: $font !important;
    background-color: $black !important;
    height: 3000px;
}

section.start{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    border-radius: none;

    // navbar
     .navbar{
        background-color: transparent;
        height: 90px;

         .nav-item{
         color: $secondary-color !important;
         }
         .nav-item:hover{
             color: $primary-color !important;
         }

         .navbar-brand{
            color: $primary-color;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
        }

        .navbar-brand::after{
            content: "Healthy Switcher";
            display: inline;
            color: $primary-color;
            font-size: 18px;
            vertical-align: sub;
        }

    }


    // container
    .container {

        .row-text{
            margin-top: 80px;
            
            h1{
                color: $secondary-color;
                font-size: 4em;
                font-weight: 400;
                text-align: center;
                }

            p{
                color: darkgray;
                font-weight: 200;
                text-align: center;
            }

        }

        .row-button{
            .btn{
                background-color: $primary-color;
                padding: 15px 30px;
                border-radius: 30px;  
                font-size: 20px;  
                margin-top: 20px;
                letter-spacing: 3px;
            }
        }


        .row-info{
            color: $secondary-color;
            ul{
                text-align: center;
                li{
                    list-style: none;
                }
                li:nth-child(3){
                    color: darkgrey;
                    font-size: 14px;
                }
                
            }
        }
        
    }

}
// section start

// section about
    section.about{
        margin-top: -220px;
            .container{
                .row-about{
                        justify-content: center;
                   .col-about{
                    position: relative;
                    padding:40px 25px;
                    background-color: $dark-grey;
                    border-radius: 5px;
                        .row-heading{
                            justify-content: center;
                            color: $secondary-color;
                            h1{
                                font-size: 90px;
                                font-weight: 700;
                                text-transform: uppercase;
                                text-align: center;
                                opacity: .2;
                                position: absolute;
                                left: 0;
                                right: 0;
                                letter-spacing: 10px;
                            }

                            h6{
                                margin-top: 40px;
                                text-align: center;
                                font-size: 30px;
                                font-weight: 400;
                                letter-spacing: 5px;
                            }

                            h6::after{
                                content: "";
                                display: block;
                                width: 10%;
                                border-bottom: 2px solid $primary-color;
                                text-align: center;
                                margin: auto;
                                padding-top: 30px;
                            }
                        }
                        

                        .row-text{
                            margin-top: 60px;
                            justify-content: center;
                            .col-text{
                                p{
                                    color: darkgrey;
                                    font-size: 16px;
                                    text-align: center;
                                }
                            }
                            
                        }

                      

                        .row-carousel{
                            margin-top: 50px;
                            margin-bottom: 30px;
                            .col-carousel{
                                .carousel-item{
                                    display: flex;
                                    justify-content: space-evenly;
                                    img{
                                        height: 270px;
                                        width: 350px;
                                    }
                                }
                            }
                        }
                   }

                }
            }
    }
// section about

// section work
    section.work{
            .container{
                .row-work{
                        justify-content: center;
                   .col-work{
                    position: relative;
                    padding:40px 25px;
                    background-color: transparent;
                    border-radius: 5px;
                        .row-heading{
                            justify-content: center;
                            color: $secondary-color;
                            h1{
                                font-size: 90px;
                                font-weight: 700;
                                text-transform: uppercase;
                                text-align: center;
                                opacity: .2;
                                position: absolute;
                                left: 0;
                                right: 0;
                                letter-spacing: 10px;
                            }

                            h6{
                                margin-top: 40px;
                                text-align: center;
                                font-size: 30px;
                                font-weight: 400;
                                letter-spacing: 5px;
                            }

                            h6::after{
                                content: "";
                                display: block;
                                width: 10%;
                                border-bottom: 2px solid $primary-color;
                                text-align: center;
                                margin: auto;
                                padding-top: 30px;
                            }
                        }

                        .row-card{
                            margin-top: 50px;
                            .card{
                                background-color: $dark-grey !important;
                                color: $secondary-color;
                                padding: 20px 0px;
                                height: 230px;

                                .card-title{
                                    font-size: 20px;
                                    text-transform: capitalize;
                                    font-weight: 700;
                                }

                                .card-title::after{
                                    content: " ";
                                    display: block;
                                    border-bottom: solid 2px $primary-color;
                                    width: 30%;
                                    margin-top: 15px;
                                }

                                .card-text{
                                    color: darkgrey;
                                    font-size: 14px;
                                }
                            }

                            .card:hover{
                                background-color: $primary-color !important;
                                color: $black;
                                padding: 20px 0px;
                                height: 230px;
                                cursor: pointer;

                                .card-title{
                                    font-size: 20px;
                                    text-transform: capitalize;
                                }

                                .card-title::after{
                                    content: " ";
                                    display: block;
                                    border-bottom: solid 2px $black;
                                    width: 30%;
                                    margin-top: 15px;
                                }

                                .card-text{
                                    color: $black;
                                    font-size: 14px;
                                    font-weight: 500;
                                }
                            }
                        }
                        
                   }

                }
            }
    }
// section work

// section dishes
    section.dishes{
            .container{
                .row-dishes{
                        justify-content: center;
                   .col-dishes{
                    position: relative;
                    padding:40px 25px;
                    background-color: transparent;
                    border-radius: 5px;
                        .row-heading{
                            justify-content: center;
                            color: $secondary-color;
                            h1{
                                font-size: 90px;
                                font-weight: 700;
                                text-transform: uppercase;
                                text-align: center;
                                opacity: .2;
                                position: absolute;
                                left: 0;
                                right: 0;
                                letter-spacing: 10px;
                            }

                            h6{
                                margin-top: 40px;
                                text-align: center;
                                font-size: 30px;
                                font-weight: 400;
                                letter-spacing: 5px;
                            }

                            h6::after{
                                content: "";
                                display: block;
                                width: 10%;
                                border-bottom: 2px solid $primary-color;
                                text-align: center;
                                margin: auto;
                                padding-top: 30px;
                            }
                        }

                        .row-card{
                            margin-top: 50px;
                            .card{
                                position: relative;
                                background-color: $dark-grey !important;
                                color: $secondary-color;
                                padding: 0;
                                height: 500px;
                                margin-bottom: 30px;
                                

                                .card-img{
                                    width: 100%;
                                    height: 250px;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    overflow: hidden;
                                    img{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        transition: all .5s;
                                    }

                                    img:hover{
                                        transform: scale(1.2);
                                        transition: all .5s;
                                        cursor: pointer;
                                    }
                                }

                                .card-info{
                                    position: absolute;
                                    top: 314px;
                                    font-weight: 200;
                                    font-size: 14px;
                                    color: darkgrey;
                                }

                                .card-title{
                                    position: absolute;
                                    top: 280px;
                                    font-size: 30px;
                                    text-transform: capitalize;
                                    font-weight: 700;
                                }

                               

                                .card-text{
                                    position: absolute;
                                    top: 350px;
                                    color: darkgrey;
                                    font-size: 14px;
                                }

                                .btn-order{
                                    position: absolute;
                                    background-color: $primary-color;
                                    top: 430px;
                                    width: 120px;
                                    height: 50px;
                                   right: 25px;
                                   border-radius: 25px;
                                   font-weight: 700;
                                   letter-spacing: 3px;
                                   text-transform: uppercase;
                                   font-size: 12px
                                }
                            }
                        }
                        
                   }

                }
            }
    }
// section dishes

// section chefs
section.chefs{
    .container{
        .row-chefs{
                justify-content: center;
           .col-chefs{
            position: relative;
            padding:40px 25px;
            background-color: transparent;
            border-radius: 5px;
                .row-heading{
                    justify-content: center;
                    color: $secondary-color;
                    h1{
                        font-size: 90px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                        opacity: .2;
                        position: absolute;
                        left: 0;
                        right: 0;
                        letter-spacing: 10px;
                    }

                    h6{
                        margin-top: 40px;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 400;
                        letter-spacing: 5px;
                    }

                    h6::after{
                        content: "";
                        display: block;
                        width: 10%;
                        border-bottom: 2px solid $primary-color;
                        text-align: center;
                        margin: auto;
                        padding-top: 30px;
                    }
                }

                .row-card{
                    margin-top: 50px;
                    .card{
                        border: none;
                        position: relative;
                        background-color: transparent;
                        color: $secondary-color;
                        height: 150px;
                        padding: 0px !important;
                        
                        .card-chef{
                            display: flex;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            height: 50%;

                            img{
                                align-self: center;
                            }

                            .chef-info{
                                align-self: center;
                                margin-left: 20px;

                                h4{
                                    font-size: 20px;
                                    font-weight: 500;
                                }

                                h6{
                                    font-size: 14px;
                                    color: darkgrey;
                                    font-weight: 300;
                                }
                            }
                        }

                        .card-chefpic{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: space-between;

                            img{
                                align-self: flex-end;
                            }
                        }

                    }

                }
                
           }

        }
    }
}
// section chefs